.shirtCard {
    height: 35vw;
    width: 35vw;
    position: fixed;
    background-color: orchid;
    z-index: 5;
    left: 30vw;
    top: 20vh;
    transition: left .6s;
}

.shirtCardCart {
    height: 35vw;
    width: 35vw;
    position: fixed;
    background-color: orchid;
    z-index: 5;
    left: 20vw;
    top: 20vh;
    transition: left .6s;
}


.none {
    display: none;
}

img {
    height: 150px;
}