.SignUpForm {
    margin: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUpForm input {
    width: 200px;
    font-size: 18px;
    margin: 5px;
    font-family: "Century Gothic", sans-serif;
}

.SignUpForm button {
    margin: 5px;
    margin-top: 10px;
}

.heading {
    font-size: 32px;
    margin-top: 40px;
}

.SignUpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton {
    font-size: 16px;
    text-transform: Uppercase;
    border: 2px solid black;
    text-decoration: none;
    font-family: "Century Gothic", sans-serif;
    color: black;
    border-radius: 6px;
    padding: 5px;
}

.formButton:hover:enabled {
    background-color: black;
    color: white;
    cursor: pointer;
}

.formButton:disabled {
    color: #909090;
    border-color: #909090;
}

.formButton:disabled:hover {
    color: #909090;
    border-color: #909090;
}