table, tr, th, td{
    border: 2px solid white;
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin: 20px;
    font-size: 1vw;
}
 
.Button {
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 125px;
    margin: 0 auto;
    cursor: pointer;
    padding: 8px 3px 5px 3px;
}

.Button:hover {
    background-color: #604060;
}

th {
    background-color: #202020;
    color: white;
    cursor: pointer;
}

th:hover {
    background-color: #303030;
}